# Jessica Randall IBS 574 Python Homework 1

#### Add your name and the date your notebook was last updated

In [1]:
%load_ext watermark
%watermark -a "Yijian Fan" -d

Yijian Fan 2020-01-30

#### Load libraries

In [2]:
import watermark
import numpy as np
import pandas as pd
from sinfo import sinfo

#### Load data
Hint: data are available here https://raw.githubusercontent.com/jessmrandall/IBS574Spring2020/master/data/countdata.csv

In [3]:
countdata = "https://raw.githubusercontent.com/jessmrandall/IBS574Spring2020/master/data/countdata.csv"
counts = pd.read_csv(countdata, index_col = 0, sep = "\t")
counts.head()

,T02,T04,T06,T08,T10,T12,T14,T01,T03,T05,T07,T09,T11,T13
id,,,,,,,,,,,,,,
Aaas,4341,4052,3762,3473,2894,3193,3706,2574,2760,2512,3014,3266,3517,3768
Aacs,11693,10913,10134,9354,7795,6784,8448,6011,4736,5480,6576,7124,7672,8220
Aadac,0,0,0,0,0,0,0,0,0,2,2,3,3,3
Aadacl2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Aadacl3,0,0,0,0,0,0,0,0,0,0,0,0,0,0

#### Test data were loaded correctly

In [4]:
len(counts) == 14944

True

#### Report Session Information

In [5]:
sinfo()

-----
numpy       1.18.1
pandas      1.0.0
sinfo       0.3.1
watermark   2.0.2
-----
IPython             7.11.1
jupyter_client      5.3.4
jupyter_core        4.6.1
notebook            6.0.3
-----
Python 3.8.1 (default, Jan  8 2020, 15:55:49) [MSC v.1916 64 bit (AMD64)]
Windows-10-10.0.18362-SP0
4 logical CPU cores, Intel64 Family 6 Model 78 Stepping 3, GenuineIntel
-----
Session information updated at 2020-01-30 15:59